body{
    background:
    linear-gradient(
        rgba(0,0,0,0.45),
        rgba(0,0,0,0.45)
    ),
    url("../images/turismo-mondiale-2024.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    min-height:100vh;
}

.overlay{
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.planner-card{

    width:550px;

    background:
    rgba(255,255,255,0.18);

    backdrop-filter:blur(18px);

    padding:40px;

    border-radius:30px;

    box-shadow:
    0 8px 32px rgba(0,0,0,0.3);

    text-align:center;
}

.result-card{
    width:900px;
}

.form-control{
    margin-bottom:20px;
    border-radius:15px;
    padding:15px;
}

.btn{
    width:100%;
    padding:15px;
    border-radius:15px;
}

h1,p{
    color:white;
}

.result-box{
    white-space:pre-wrap;
    color:white;
    text-align:left;
    margin-top:20px;
}